.home-page{
    position: fixed;
}
.main-menu {
    width: 65%;
    margin: 0 auto;
    background-color: lightgray;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    /* position: sticky;
    position: -webkit-sticky;
    top: 108px; */
}


.main-menu::after {
    content:'';
    display: table;
    clear: both
}

nav {
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 20px 50px;
    padding-top: 15px;
    position: relative;
} 

ul .menu-items{
    color: rgb(29, 29, 29);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 550;

}

ul a:hover {
    color: black;
}

nav .menu-items::before {
    content: '';
    display: block;
    height: 5px; 
    width: 0%;
    background-color: gray;
    position: absolute;
    top: 0;
    border-radius: 8px;
    transition: all ease-in-out .3s
}

nav .menu-items:hover::before {
    width: 100%;
}

/* a[href="PullComics"] {
    padding-bottom: 25px;
}


.pull-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 20px;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    z-index: 1;
  }

  .pull-dropdown-content a {
    color: rgb(24, 24, 24);
    padding: 14px 1rem;
    text-decoration: none;
    display: block;
  }

  .pullmenu:hover .pull-dropdown-content {
    display: block;
  }

  .pull-dropdown-content a:hover {
      background-color: #f1f1f1;
      border-radius: 6px;
      color: black;
    } */

.main-content{
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 24px;
    border-radius: 12px;
    padding: 40px 32px 40px 32px;
    background-image: linear-gradient(rgb(10, 10, 10), rgb(48, 48, 48));
    display: flex;
    justify-content: center;
}


.car-title{
    margin-right: 1rem;
}

.car-title > h2{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    writing-mode: vertical-lr;

}


/* carousel css */
.car-element > img {
    display: block;
    max-width: 100%;
    width: 100%;
    aspect-ratio: 663/1024;
    object-fit: cover;
}

.car-container {
    position: relative;
    width: 68%;
  }
  
  .car-scroller,
  .car-group {
    display: grid;
    gap: 0.25rem;
    grid-auto-flow: column;
  }
  
  .car-scroller {
    overflow-x: hidden;
    scroll-behavior: smooth;
    grid-auto-columns: 100%;
    padding: 0 3rem;
    scroll-padding-inline: 3rem;
  }
  
  .car-group {
    grid-auto-columns: 1fr;
  }
  
  .car-element {
    border-radius: 0.25rem;
    overflow: hidden;
  }
  
  .next,
  .prev {
    display: none;
    align-items: center;
    z-index: 10;
    position: absolute;
    width: 3rem;
    padding: 1rem;
    background: rgb(0 0 0 / 0);
    opacity: 0;
  }
  
  .prev {
    left: 0;
    top: 0;
    bottom: 0;
  }
  
  .next {
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .car-group:first-child :where(.next, .prev) {
    display: flex;
  }
  
  .car-scroller:hover :where(.next, .prev) {
    opacity: 1;
  }
  
  :where(.next, .prev):hover {
    background: rgb(0 0 0 / 0.5);
  }
  
  :where(.next, .prev) > svg {
    transition: transform 75ms linear;
    transform: scale(1);
  }
  :where(.next, .prev):hover > svg {
    transform: scale(1.6);
  }
  
  .car-group:target :where(.next, .prev) {
    display: flex;
  }
  
  .car-scroller:has(:target:not(:first-child))
    .car-group:first-of-type
    .next {
    display: none;
  }

  .navigation-indicators {
    opacity: 0;
    position: absolute;
    display: flex;
    gap: 4px;
    border-radius: 2px;
    top: -1rem;
    right: 3rem;
  }
  
  .navigation-indicators > * {
    width: 1rem;
    height: 2px;
    background: white;
    opacity: 0.5;
  }
  

  .car-group:nth-child(1):target ~ .navigation-indicators > *:nth-child(1) {
    opacity: 1;
  }
  
  .car-group:nth-child(2):target ~ .navigation-indicators > *:nth-child(2) {
    opacity: 1;
  }
  
  .car-group:nth-child(3):target ~ .navigation-indicators > *:nth-child(3) {
    opacity: 1;
  }
  .car-group:nth-child(4):target ~ .navigation-indicators > *:nth-child(4) {
    opacity: 1;
  }
  .car-group:nth-child(5):target ~ .navigation-indicators > *:nth-child(5) {
    opacity: 1;
  }
  .car-group:nth-child(6):target ~ .navigation-indicators > *:nth-child(6) {
    opacity: 1;
  }
  
  
  .car-scroller:hover .navigation-indicators {
    opacity: 1;
  }
