.admin-features {
    background-color: lightgray;
    margin: 24px;
}

.add-user, .remove-user {
}
.add-user button {
    background-color: red;
}

.add-user form {
}

.remove-user button {
    background-color: red;
}